{#
    Index page view.
#}

{% extends "base.twig" %}

{% block content %}
{% if posts %}
{% for post in posts %}
<section class="padding bck color index">
  <div class="row" id="blog">
    <div class="column_6" id="post-info">
      <span class="preamble">
        ID: {{ post.id }}
        Posted: {{ post.date }}
        Tags: {{ post.tags }}
      </span>
    </div>  

    <div class="column_6 offset_4 color book theme" id="post-name">
      <h3> <a href="/view/{{post.id}}">{{ post.title }}</a></h3>
    </div>

    <div class="column_12 margin-right content-wrapper" id="post-content">
      <p class="post"> {{ post.content|nl2br }} </p>
    </div>
	
	<form action="like/{{post.id}}" id="likeForm{{post.id}}" method="POST">
	<div class="column_3 offset_1 attach-bar text center">
	 <a href="view/{{post.id}}"> Reply to this blog post.</a>
	</div>
	<div class="column_1 offset_6 attach-bar" id="likes">
	  <span class="small icon heart likes-icon" id="like-submit" onclick="submitLike({{post.id}})"></span>
	  <span> {{post.likes}} </span>
	</div>
    </form>
	
  </div>
</section>

{% endfor %}

<script>
	function submitLike(id){
		 document.getElementById("likeForm"+id).submit();
	}
</script>

	
{% else %}

  {# No posts to the blog #}
  <section class="alert"">
    <p><span class="icon info-sign"></span> This blog has no posts! Wait for the admin to make some.</p>
  </section>
  
{% endif %}
{% endblock %}