{#
    Index page view.
#}

{% extends "base.twig" %}

{% block content %}
{% if blog %}

<section class="padding bck color">
	<div class="row" id="blog">

	  <div class="column_6" id="post-info">
		<span class="preamble">
		  ID: {{blog.id}}  
		  Posted: {{blog.date_when}} 
		  Tags:  {{blog.tags}}
		</span>
	  </div>  

	  <div class="column_6 offset_4 color book theme" id="post-name">
		<h3>{{blog.title}}</h3>
	  </div>

	  <div class="column_12 margin-right content-wrapper" id="post-content">
		<p class="post">
		{{blog.content}}
		</p>
	  </div>
	<div class="column_9 offset_1 attach-bar" id="post">
	 <div class="post-individual row">
	 	<!-- Posting form -->
	 	<form action="post/{{blog.id}}" method="POST">
	 	<div class="column_6">
	 	<fieldset>
	 		 <textarea name="post" id="post" type="text" rows="8" cols="" style="width:100%"> </textarea>
	 	</fieldset>
	 	</div>
	 	<div class="column_2 padding">
	 		<button id="submit">Submit Post</button>
	 	</div>
	 	</form>
	  </div>
	  {% if posts %}
	  {% for post in posts %}
	  <div class="post-individual"> 
	    <h5>Post #: {{post.id}} -- UserID: {{post.uniquePoster}}</h5><br> {{post.content}}
	  </div>
	  {% endfor %}
	  {% else %}
	  <div class="post-individual"> 
	    <h5>There are no posts here... yet :)</h5>
	  </div>
	  {% endif %}
	</div>
	<form action="like/{{blog.id}}" id="likeForm" method="POST">
	<div class="column_1 attach-bar" id="likes">
       <span class="small icon heart likes-icon" onClick="submitLike()" id="like-submit"></span>
       <span>{{blog.likes}}</span> 
    </div>
    </form>
   </div>
</section>
<script>

	function submitLike(){
		 document.getElementById("likeForm").submit();
	}

</script>
{% else %}
  {# No blogs exist with this id #}
  <section class="alert"">
    <p><span class="icon info-sign"></span> There is no blog post for this id.</p>
  </section>
{% endif %}

{% endblock %}